<%= render 'shared/navbar' %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon special-topbar">
  <div class="container-fluid">
    <a class="navbar-brand" href="/dashboard">
      <img src="<%= image_path('bakko-white-logo.png')%>">
    </a>
    <button class="navbar-toggler"id="navbarSupportedContent" >
          <li class="nav-item dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<%= image_path('user-profil.jpg')%>">
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/profil">Profil</a>
              <a class="dropdown-item profil-settings" href="#">Settings</a>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <!--li class="nav-item"-->
          <!--/li-->
    </button>
  </div>
</div>

<body class="gif-background">



<div class="welcome-container">




  <h1 class="welcome-title">Keep the world in your hand!</h1>

  <p class="welcome-paragraph">Ready for a new adventure?</p>


      <div class="wrapper d-flex justify-content-center" style="margin-top: 40px;">
        <span><%= link_to "New trip", new_trip_path %></span>
        <span><%= link_to "Repeat Trip", trips_path %></span>
      </div>


</div>
</body>
