<div class="new-container">


  <div class="icon-world">
    <img src="https://ian.macky.net/pat/map/globes/earth-landmask-256-fast.gif" alt="" style= "width: 88px;">
  </div>

    <h1 class="welcome-title">Keep the world in your hand!</h1>

    <p class="welcome-paragraph">Pick your destination as well as the duration of your stay</p>

  <div class="form-buttons">
    <%= simple_form_for(@trip) do |f| %>

    <div class= "d-flex justify-content-center">
      <%= f.input :destination, placeholder: "Destination", label: false %>
    </div>
    <div class= "d-flex justify-content-center">
      <%= f.input :start_date, as: :date, html5: true, value: "Start date", label: false %>
    </div>
    <div class= "d-flex justify-content-center">
      <%= f.input :end_date, as: :date, html5: true, placeholder: "End date", label: false %>
    </div>
      <%= f.association :activities, as: :check_boxes, include_hidden: false, input_html: { class: "tag-selector" },
        item_wrapper_class: 'tag-item', label: "" %>
      <div class="d-flex justify-content-center">
      <%= f.submit id: "btn-secondary"%>
      </div>
    <% end %>
 </div>

</div>
