<%= render 'shared/navbar' %>
<%= render 'shared/topbar' %>

<div class="bakko-container">

  <h1 class="title-askbudget">TRAVEL MORE, SPEND LESS</h1>
  <p class="askbudget-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>


  <div class="slide-budget">
    <div class="price-range">
      <p>$0</p>
      <p>$8.000</p>
    </div>


    <div class="drag-price">
      <%= simple_form_for([@trip, @budget]) do |f| %>
        <div class="slider-price">
          <%= f.input :price, label: false, as: :range, placeholder: "Enter your budget", input_html:{ min:"0", max:"8000", step:"10", oninput:"updateTextInput(this.value)" } %>
        </div>
        <%= f.input :price, as: :integer, label: false, placeholder: "Your budget...", input_html: {id: "textInput"} %>
        <div id="submit-budget">
          <%= f.submit %>
        </div>
        </div>
      <% end %>

      <script>
        function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
      </script>
    </div>
  </div>



</div>
