<%= render 'shared/navbar' %>
<%= render 'shared/topbar' %>

<div class="bakko-container">

  <h1 class="title-askbudget">TRAVEL MORE, SPEND LESS</h1>
  <p class="askbudget-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>


  <div class="slide-budget">
    <div class="price-range">
      <p>$0</p>
      <p>$5000</p>
    </div>


    <%# <div class="drag-price">
      <%= simple_form_for([@trip, @budget]) do |f| %>
        <%# <%= f.input :price, label: false, as: :range, input_html:{ min:"0", max:"5000", step:"10", oninput:"updateTextInput(this.value)" } %>
        <%# <input type="text" id="textInput" value=""> %>
      <%# <% end %>

      <%# <script>
        function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
      </script> %>
    <%# </div> %>


  <div class="budget-input">

    <%= simple_form_for([@trip, @budget]) do |f| %>
      <%= f.input :price, placeholder: "Enter your budget", hint: "Ex: 1250" %>
      <div id="submit-budget">
        <%= f.submit %>
      </div>
    <% end %>



  </div>



  </div>



</div>
