<%= render 'shared/navbar' %>
<%= render 'shared/topbar' %>

<div class="bakko-container">

  <div class="budget-show">
    <div class="budget-bubble">
    </div>
    <div class="remaining-budget">
      <ion-icon name="card-outline"></ion-icon>
      <p>Remainging</p>
      <h1>$<%= @budget.price %></h1>
    </div>
  </div>

  <div class="budget-cards">
    <% @budget_by_category.each do |budget_by_category| %>
      <div class="bud-card">
        <div class="budget-distribution">
        <h2 class="budget-category"><%= budget_by_category[:category].capitalize %></h2>
        <p class="budgetcategory-price">$<%= budget_by_category[:price] %></p>
        <div class="detailed-budget">
          <%# <%= link_to detailedbudget_trip_path(@budget) do %>
            <ion-icon name="information-outline"></ion-icon>
          <%# <% end %>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
