  <div class="navigation">
      <ul>
        <li class="list <%= "active" if current_page?(guides_path) %>" id="first">
          <a href="/guides">
            <span class="icon">
              <ion-icon name="medkit-outline"></ion-icon>
            </span>
            <span class="text">Survival</span>
          </a>
        </li>

        <li class="list <%= "active" if current_page?(trips_path) && current_page?(new_trip_budget_path(current_user.trips.first)) && current_page?(trip_budget_path(current_user.trips.first, current_user.trips.first.budgets.first))  %>" id="second">
          <%# <a href="/trips/:id/budgets/new"> %>
          <% if user_signed_in? && !current_user.trips.blank? %>
            <% if current_user.trips.first.budgets.first.blank? %>
              <%= link_to new_trip_budget_path(current_user.trips.first) do %>
              <span class="icon">
                <ion-icon name="cash-outline"></ion-icon>
              </span>
              <span class="text">Budget</span>
              <% end %>
            <% else %>
              <%= link_to trip_budget_path(current_user.trips.first, current_user.trips.first.budgets.first) do %>
              <span class="icon">
                <ion-icon name="cash-outline"></ion-icon>
              </span>
              <span class="text">Budget</span>
              <% end %>
            <% end %>
          <% else %>
            <a href="#">
              <span class="icon">
                <ion-icon name="add-outline"></ion-icon>
              </span>
              <span class="text">Plus</span>
            </a>
              <%# <span class="text">Budget</span> %>
          <% end %>
        </li>
        <li class="list <%= "active" if current_page?(dashboard_path) %>"
        id="third">
          <% if current_user.trips.blank? %>
            <a href="/trips">
          <% else %>
            <a href="/dashboard">
          <% end %>
            <span class="icon">
              <ion-icon name="home-outline"></ion-icon>
              </ion-icon></span>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="list <%= "active" if current_page?(journal_path) %>" id="last">
          <a href="/journal">
            <span class="icon">
              <ion-icon name="book-outline"></ion-icon>
            </span>
            <span class="text">Journal</span>
          </a>
        </li>
      </ul>
      <div class="indicator"></div>
    <%# <script>
      const list = document.querySelectorAll('.list')
      function activeLink(){
        list.forEach((item) =>
        item.classList.remove('active'));
        this.classList.add('active');
      }
      list.forEach((item) =>
      item.addEventListener('click', activeLink));

    </script> %>
    </div>
