<div class="container-profil" >

  <div class= 'line'></div>

  <div class= "my-journal">
   <div class= "title-myjournal"> <%= link_to "Your journal", journal_path, class: "journal-titles" %></div>
   <div class= "button-see-all2">  <%= link_to "See all...", journal_path, class: "journal-titles" %></p></div>
  </div>
    <div class= "add-story"><%= link_to "New Story", new_trip_story_path(current_user.trips.first) %></div>
  <div class="container">
  <div class = "add-story">
  </div>

    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <li class="glide__slide">
            <div class= 'glides-infos'>
              <%= image_tag('images1.jpg') %>
            </div>
          </li>
          <li class="glide__slide">
            <div class= 'glides-infos'>
              <%= image_tag('images2.jpg') %>
            </div>
          </li>
          <li class="glide__slide">
            <div class= 'glides-infos'>
              <%= image_tag('images3.jpg') %>
            </div>
          </li>
          <li class="glide__slide">
            <div class= 'glides-infos'>
              <%= image_tag('images4.jpg') %>
            </div>
          </li>
          <li class="glide__slide">
            <div class= 'glides-infos'>
              <%= image_tag('images5.jpg') %>
            </div>
          </li>
        </ul>
      </div>
       <div class="glide__arrows" data-glide-el="controls"></div>
    </div>
  </div>

  <div class= 'line2'></div>

  <div class= "my-journal2">
    <div class= "title-myjournal2"> <%= link_to "News", journal_path %> </div>
    <div class= "button-see-all">  <%= link_to "See all...", all_stories_path %> </div>
  </div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>


<%# <%= link_to "New story", new_trip_story_path(@story.trip) %>

 <% @stories.each_with_index do |story, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : ''  %>">
        <% if story.photo.attached? %>
          <%= cl_image_tag story.photo.key, class: "carousel-img d-block w-100", crop: :fill %>
        <% end %>
        <div class="carousel-caption  d-md-block">
<<<<<<< HEAD

      <%= link_to trip_story_path(story.trip, story), method: :delete, data: { confirm: "Delete #{story.title}?" } do %>
        Delete
      <% end %>


        <button class="modal-btn-read modal-trigger">Read</button>
=======
        <button class= "modal-btn modal-trigger">Read</button>
>>>>>>> 2530560fa92592722dc9d1161d701d16d68b562e
          <div class= "new-article">
            <div>
              <h5><%= story.location %></h5>
              <h5>@<%= @user.first_name %></h5>
            </div>
          </div>
          <div class= "description-article"><%= story.content %></div>
          </div>
      </div>


<div class="modal-container">
        <div class="overlayy modal-trigger"></div>
        <div class="modall">
<<<<<<< HEAD
          <button class="close-modal modal-trigger">X</button>

            <h1 class= "title-story"><%= story.title %></h1>
            <div class= "intro-story"><%= story.introduction %></div>
            <% if story.photo.attached? %>
              <div class= "img-story"><%= cl_image_tag story.photo.key %></div>
            <% end %>
            <div class= "description-story"><%= story.description %></div>

      <%= @story.liikes.count %> Likes

      <% liike = current_user.liikes.find_by(story: @story).nil? %>
      <% if liike.nil? %>
       <%# <%= button_to "Like", liikes_path(liike), params: { liike: {story_id: @story.id }}, method: :post %>
      <form action="/liikes" method="post">
        <input type="hidden" name="authenticity_token" value =" <%= form_authenticity_token%> ">
        <input type="hidden" name="liike[story_id]" value = " <%= @story.id %> ">
        <input type="submit" value="Liike">
      </form>
      <% else %>
      <%# <%= button_to "Unlike", liikes_path(liike), method: :delete  %>
        <form action="<%= liikes_path(liike) %> " method="post">
        <input type="hidden" name="authenticity_token" value =" <%= form_authenticity_token %> ">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Unlike">
      </form>
      <% end%>
        </div>
      </div>


=======
          <button class="close-modal modal-trigger"><ion-icon name="arrow-back-outline"></ion-icon></button>
          <div class= 'line3'></div>
              <h1 class= "title-story"><%= story.title %></h1>

          <div class = "infos-user-story">
            <div class= "sous-infos">
              <% if current_user.photo.attached? %>
                <div ><%= image_tag "user-profil.jpg" %></div>
              <% end %>
              <div class= "user-story">@<%= current_user.first_name %></div>
              <div class= "location-story"><%= story.location%></div>
            </div>
            <div><button class= "btn-follow">Follow</button></div>
          </div>

            <% if story.photo.attached? %>
              <div class= "img-story"><%= cl_image_tag story.photo.key %></div>
            <% end %>
             <div class= "intro-story"><%= story.introduction %></div>
            <div class= "description-story"><%= story.description %></div>
        </div>
>>>>>>> 2530560fa92592722dc9d1161d701d16d68b562e

  <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"> </script>
  <script>
    const config = {
      type: "carousel",
      perView: 2.3
    };
      new Glide('.glide', config).mount()
  </script>
<<<<<<< HEAD

 <%# <% @stories.each_with_index do |story, index| %>

<%# <% end %>
<%# </div> %>
=======
</div>

      </div>
>>>>>>> 2530560fa92592722dc9d1161d701d16d68b562e
