<div class= "container-profil">

<div class= "header-profil">
  <div>
    <div class= "name-user"><%= current_user.first_name %></div>
    <div class="date-profil">Today, February 23rd</div>
  </div>
  <div class= "icon-notif"><ion-icon name="notifications-outline"></ion-icon></div>
</div>

<div class = "story-tendance" ><%= image_tag "images4.jpg" %></div>

<div class="story-title-tendance"><%=  @stories.first.title %></div>
<div class="trending">Trending</div>

<div class= "infos-story-tendance">
  <div>World</div>
  <div class= "date-like-story">
    <div class= "hour-story"><ion-icon name="time-outline"></ion-icon><div>12h ago</div></div>
    <div class= "likes"><ion-icon name="heart-outline"></ion-icon><div class="number-likes">5</div></div>
  </div>
</div>

<div class ="show-follow">
  <div class="title-follow">Following</div>
  <div class= "btn-view-follow"><button>View more</button></div>
</div>

<div class ="show-stories">
  <div class="title-follow">Lasted</div>
  <div class= "btn-view-follow"><button>View more</button></div>
</div>


 <% @stories.each_with_index do |story, index| %>
      <div class= "card-article2">
        <div class= "infos-article">
          <div class= "title-article"> <h5><%= story.title %></h5> </div>
          <div class= "content-article"> <h5><%= story.content %></h5> </div>
        </div>
        <div class= "img-article">
          <% if story.photo.attached? %>
            <%= cl_image_tag story.photo.key %>
          <% end %>
        </div>
      </div>
<% end %>

<%= render 'profil/follower_count' user: user %>
<div> <%= user.followings.count  %> following </div>

<% if user == current_user %>
  <%= link_to "Edit profil", edit_user_registration_path %>
<% elsif current_user %>
  <%= render :partial => 'profil/follow_button', :user: @user %>
<% end %>









</div>
