<%= render 'shared/navbar' %>
<%= render 'shared/topbar' %>

  <div class = "back-lien"><%= link_to "Back", journal_path %></div>
  <div class="search"> <ion-icon name="search-outline"> </ion-icon><p>Search</p></div>


 <% @stories.each_with_index do |story, index| %>
 <%= link_to story do %>
      <div class= "card-article2">
        <div class= "infos-article">
          <div class= "title-article"> <h5><%= story.title %></h5> </div>
            <div class= "content-article"> <h5><%= story.content %></h5> </div>
          </div>
        <div class= "img-article">
          <% if story.photo.attached? %>
            <%= cl_image_tag story.photo.key %>
          <% end %>
        </div>
      </div>
   <%= render 'liikes/all_header', story: story %>
  <% end %>
<% end %>
