<body class="guide-background">

<div class="survival-container">

<div class="survival-title">
<h1>Survival Kit</h1>
</div>

<%= form_tag guides_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an article"
  %>
<% end %>

<div class="sub-title">
<h2>Bakko Guides</h2>
</div>


  <% @guides.each do |guide| %>
  <div class="card-survival">
  <%= cl_image_tag guide.photo.key %>
    <div class="preview-margins">
        <%= guide.title %>
        <br>
        <%= guide.content %>
    </div>
  </div>
  <% end %>


</div>
</body>
